.container {
  max-width: 1200px;
  background-color: blanchedalmond;
  margin: 0 auto;
  padding: 50px 100px 0 150px;
}

h1{
  color: #93e896;
}

h2{
  color: #93e896;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  max-width: 630px;
}

p {
  max-width: 630px;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
}

.ava {
  background-color: #93e896;
  padding: 20px;
  border-radius: 90%;
  max-width: 300px;
}

.header-content {
  display: flex;
  align-items: center;
}

.header-title,
.p-header {
  margin: 0;
  padding: 5px 0;
}

.header-text {
  padding: 10px 220px;
  display: block;
}

.cv-mycontacts img {
  width: 25px;
}

.link-list {
  margin: 0;
  padding: 0;
  padding-right: 150px;
  list-style: none;
}

.link-list li {
  padding-bottom: 5px;
  display: flex;
  align-items: center;
}

.cv-mycontacts {
  align-items: center;
  display: flex;
  padding-bottom: 50px;
  justify-content: space-between;
}

.skills {
  display: flex;
  padding-bottom: 50pxpx;
}

.cvskills h2 {
  margin: 0;
  padding-bottom: 10px;
}

.cvskills {
  display: block;
  margin-bottom: 10px;
}

.skill-name {
  margin-bottom: 5px;
}

.skill-bar {
  width: 350px;
  border-radius: 10px;
  background-color: #e0dfdf;
  height: 10px;
  margin-bottom: 5px;
}

.skill-level {
  border-radius: 5px;
  height: 100%;
  background-color: #93e896;
}

.code-example-title {
  display: flex;
  justify-content: center;
}

.education-lang{
  display:flex;
  align-items: center;
}

.languages{
  padding-left: 300px;

}